<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--_meta 作为公共模版分离出去-->
    <div th:replace="./common/_meta"></div>
    <!--/meta 作为公共模版分离出去-->
    <title>用户管理</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 用户中心
    <span class="c-gray en">&gt;</span> 用户管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="pd-20">
    <div class="text-c">
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="username"
               name="username">

        <input type="hidden" id="pageSize" name="pageSize" th:value="${resultVo.data.pageSize}"/>
        <input type="hidden" id="pageNum" name="pageNum" th:value="${resultVo.data.pageNum}"/>
        <input type="hidden" id="pages" name="pages" th:value="${resultVo.data.pages}"/>
        <input type="hidden" id="total" name="total" th:value="${resultVo.data.total}"/>
        <button type="submit" class="btn btn-success" id="btn_search"><i class="icon-search"></i> 搜用户</button>

    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-trash"></i> 批量删除</a>
            <a href="javascript:;" onclick="user_add('550','','添加用户','user-add.html')" class="btn btn-primary radius"><i
                    class="icon-plus"></i> 添加用户
            </a>
        </span>
        <span class="r">共有数据：<strong th:text="${resultVo.data.total}" id="total_strong">54</strong> 条</span>
    </div>
</div>
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
    <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <th width="80">ID</th>
        <th width="100">用户名</th>
        <th width="40">性别</th>
        <th width="90">手机</th>
        <th width="150">邮箱</th>
        <th width="">地址</th>
        <th width="130">加入时间</th>
        <th width="70">状态</th>
        <th width="100">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item,iterStat : ${resultVo.data.list}" class="text-c va-m">
        <td><input name="userId" type="checkbox" value="${item.userId}"></td>
        <td th:text="${iterStat.index+1}">1</td>
        <td>
            <u style="cursor:pointer" class="text-primary" onclick="user_show(this)" th:lang="${item.userId}"
               th:text="${item.username}">张三</u>
        </td>
        <td th:text="${item.gender==0?'女':(item.gender==1?'男':'未知')}">男</td>
        <td th:text="${item.phone}">******</td>
        <td th:text="${item.email}">****@****.***</td>
        <td class="text-l" th:text="${item.address}">***</td>
        <td th:text="${item.createTime}">2014-6-11 11:11:42</td>
        <td class="user-status">
            <div th:if="${item.enabled} == 1">
                <span class="label label-defaunt radius">已关闭</span>
            </div>
            <div th:if="${item.enabled} == 0">
                <span class="label label-success radius">已启用</span>
            </div>
        </td>
        <td class="f-14 user-manage">
            <a style="text-decoration:none" onClick="user_stop(this)" href="javascript:;" title="停用"
               th:lang="${item.userId}">
                <i class="icon-hand-down"></i>
            </a>
            <a title="编辑" href="javascript:;" onclick="user_edit(this)" class="ml-5" style="text-decoration:none"
               th:lang="${item.userId}">
                <i class="icon-edit"></i>
            </a>
            <a style="text-decoration:none" class="ml-5" onClick="user_password_edit(this)" href="javascript:;"
               th:lang="${item.userId}"
               title="修改密码">
                <i class="icon-key"></i>
            </a>
            <a title="删除" href="javascript:;" onclick="user_del(this)" class="ml-5" style="text-decoration:none"
               th:lang="${item.userId}">
                <i class="icon-trash"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<!--分页-->
<div id="demo2"></div>
<!--<div id="pageNav" class="pageNav"></div>-->
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*分页插件*/
    layui.use(['laypage', 'layer'], function () {
        var pages = $("#pages").val();
        var total = $("#total").val();
        var laypage = layui.laypage, layer = layui.layer;

        /*加载数据*/
        function load(pageSize, pageNum, username) {
            //load(每页数据大小,页码，关键词){
            //加载数据
            $.ajax({
                type: 'get',
                url: '/manage/user/list_query.html',
                data: {
                    pageSize: pageSize,
                    pageNum: pageNum,
                    username: username
                },
                success: function (data) {
                    parent.layer.closeAll('loading');
                    if (data.code == 0) {
                        parent.layer.msg('数据加载成功！', {icon: 1, time: 1000});
                        var content = "";
                        var model = data.data.list;
                        $("#tbody").empty();//清空数据
                        $("#pageSize").val(data.data.pageSize);
                        $("#pageNum").val(data.data.pageNum);
                        $("#total_strong").text(data.data.total);
                        $("#pages").val(data.data.pages);
                        $("#total").val(data.data.total);
                        pagesinfo();
                        if (model.length > 0) {
                            for (var i = 0; i < model.length; i++) {
                                var gender = model[i].gender;
                                var enabled = model[i].enabled;
                                var crtTime = new Date(model[i].createTime);
                                var time = crtTime.Format("yyyy-MM-dd HH:mm:ss");
                                var user = model[i].createUserId == '1522128303410870666' ? 'admin' : 'lmz';
                                content = '<tr class="text-c va-m">' +
                                    '        <td><input name="userId" type="checkbox" value="' + model[i].userId + '"></td>' +
                                    '        <td >' + (i + 1) + '</td>' +
                                    '        <td>' +
                                    '            <u style="cursor:pointer" class="text-primary" onclick="user_show(this)" lang="' + model[i].userId + '"' +
                                    '               >' + model[i].username + '</u>' +
                                    '        </td>';
                                if (gender == 0) {
                                    content += ' <td>女</td>';
                                } else if (gender == 1) {
                                    content += '<td >男</td>';
                                } else {
                                    content += '<td >未知</td>';
                                }
                                content += '' +
                                    '        <td >' + model[i].phone + '</td>' +
                                    '        <td >' + model[i].email + '</td>' +
                                    '        <td class="text-l">' + model[i].address + '</td>' +
                                    '        <td >' + time + '</td>';

                                if (enabled == 0) {
                                    content += '        <td class="td-status">' +
                                        '                       <div>' +
                                        '                           <span class="label label-success radius">已启用</span>' +
                                        '                       </div>' +
                                        '                 </td>';
                                } else {
                                    content += '        <td class="td-status">' +
                                        '                   <div>' +
                                        '                       <span class="label label-defaunt radius">已关闭</span>' +
                                        '                   </div>' +
                                        '                </td>';
                                }
                                content += ''
                                '        <td class="f-14 user-manage">';

                                if (enabled == 0) {
                                    content += '                        <a style="text-decoration:none" onClick="user_stop(this)"lang="' + model[i].userId + '" href="javascript:;"' +
                                        '                           title="关闭">' +
                                        '                            <i class="Hui-iconfont">&#xe6de;</i>' +
                                        '                        </a>';
                                } else {
                                    content += ' <a style="text-decoration:none" onClick="user_start(this)" lang="' + model[i].userId + '"' +
                                        '                               href="javascript:;"' +
                                        '                               title="启用"><i class="Hui-iconfont">&#xe603;</i></a>';
                                }
                                content += '            <a title="编辑" href="javascript:;" onclick="user_edit(this)" class="ml-5" style="text-decoration:none"' +
                                    '               lang="' + model[i].userId + '">' +
                                    '                <i class="icon-edit"></i>' +
                                    '            </a>' +
                                    '            <a style="text-decoration:none" class="ml-5" onClick="user_password_edit(this)" href="javascript:;"' +
                                    '               lang="' + model[i].userId + '"' +
                                    '               title="修改密码">' +
                                    '                <i class="icon-key"></i>' +
                                    '            </a>' +
                                    '            <a title="删除" href="javascript:;" onclick="user_del(this)" class="ml-5" style="text-decoration:none"' +
                                    '               lang="' + model[i].userId + '">' +
                                    '                <i class="icon-trash"></i>' +
                                    '            </a>' +
                                    '        </td>' +
                                    '    </tr>'
                                $("#tbody").append(content);
                            }
                        }

                    } else {
                        parent.layer.msg(data.msg, {icon: 2, time: 1000});
                    }
                    layer.closeAll('loading');
                    parent.layer.closeAll('loading');
                },
                error: function (data) {
                    parent.layer.closeAll('loading');
                    parent.layer.msg('系统异常，删除失败，请重试!', {icon: 2, time: 1000});
                }
            });
        }

        /*分页信息*/
        function pagesinfo() {
            laypage.render({
                elem: 'demo2'
                , count: $("#total").val()
                , theme: '#4A90E2'
                , curr: $("#pageNum").val()
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        parent.parent.layer.msg('加载中', {
                            icon: 16
                            , shade: 0.01
                        });
                        var pageSize = $("#pageSize").val();
                        var pageNum = $("#pageNum").val();
                        var username = $("#username").val();
                        //load(每页数据大小,页码，关键词){
                        load(obj.limit, obj.curr, username);
                    }
                }
            })
        }

        /*加载分页*/
        pagesinfo();

        /*搜索*/
        $("#btn_search").click(function () {
            var index = layer.load(1, {
                shade: [0.1, '#fff'] //0.1透明度的白色背景
            });
            var pageSize = $("#pageSize").val();
            var pageNum = $("#pageNum").val();
            var username = $("#username").val();
            //load(每页数据大小,页码，分类id,开始时间，结束时间，关键词){
            load(10, 1, username);
        })

    });
</script>
</body>
</html>
